
.menudo{
	width:100%;
	height:70px;
	background: rgb(87,133,55);
    margin-right: 10px;
    
	}
	
.menudo > ul{
	list-style:none;	
	position:relative;
	margin-left:50px;
    z-index: 2;
	}
.menudo ul li{
		width:150px;
		float:left;
         
	}


.menudo a{
	padding:15px;
	display:block;
	text-decoration: none;
	background-color:  rgb(87,133,55);
	text-align:center;
    color: #fff;
    
	}
.menudo ul ul{
	list-style:none;
	position:absolute;
	visibility:hidden;
    
	
	}
.menudo ul li:hover ul{
	visibility:visible;
     
	}
	
.menudo a:hover{
	background-color:#000;
    border: 2px solid #fff;
    border-radius: 6px;
	}

.menudo ul ul li{
	float:none;
	border-bottom: solid 1px #ccc;
   
	}
.menudo ul ul li a{
	background-color:#000;
    border-radius: 8px;
    
    
    
	}
.menudo ul ul li a:hover{
	background-color:#fff;
     border-radius: 8px;
     border: 2px solid #000;
     color: #000;
     
	}

#bt_menudo{
	display: none;
	}
label[for='bt_menudo']{
	padding:5px;
	background-color: rgb(87,133,55);
	color:#fff;
	font-family:'Arial';
	text-align:center;
	font-size:30px;
	cursor:pointer;
	display:none;
	width:50px;
	height:50px;
	}	
label[for='bt_menudo']:hover{
	background-color:#f4f4f4;
	color:#aaa;
	}


body, h1, h2, p, ul, li, a{
    margin:0px;
    padding: 0px;
}

body{

    font-family: 'Open Sans', sans-serif;
    }

ul{
    list-style: none;
     
}

a{
    text-decoration: none;
    color: #A7C681;
}

img{
    display: block;
    max-width: 100%;
}

.whatsapp {
    position: fixed;
    top: 88%;
    left: 1%;
    padding: 10px;
    z-index: 10000000;
}
/*Super Info*/
.superinfo-bg{
        background: #000;
        color: #A7C681;
}

.superinfo{
        max-width: 1050px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-top: 10px;
}

 .superinfo p{
        margin: 10px 10px 20px 10px;

}

.num-tel{
margin:  10px 10px 20px 10px;

}

.img-bg{
    position:absolute;
    margin-left: -30px;
    margin-top: 7px;
  
 }



.menu-bg{
    background: #669801;
}


.menu{
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
    }

.menu a{
    color: white;
    text-transform: uppercase;
}

.menu-logo a{
    font-size: 2.0em;
    font-weight: bold;
    margin: 0 10px;
    color: #fff;
}
.menu-logo{
background: rgb(87,133,55);
height: 180px;
    
    }

.menu-logo img{
    width: 400px;
    margin-left: 100px;
    
}

.menu-nav ul{
    display: flex;
    flex-wrap: wrap;

}

.menu-nav a{
    font-size: 0.95em;
    display: block;
    padding: 10px;
   
 
}

.menu-nav a:hover{
    border-radius: 10px;
    background: #000;
    border: 2px solid #fff;
    font-weight: bold;
    
}

.intervalo{
    width: 100%;
    height:50px;
    color: yellow;
    background: #000;
}

.carroseul figure{
    
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
     
}

.controls{
   margin-left: -600px;
    
    
}

.control-button{
    
}

.transp-slide{
    width: 100%;
    height: 80px;
    background: rgb(87,133,55);
    opacity : 0.7 ;
    position: absolute;
    margin-top: -80px;
    
    
}
.text-slide{
    color:#fff; 
    font-weight: bold;
    font-size: 20px;
    padding-top: 10px;
    text-shadow: 2px 2px 1px #000;
}

.text-slide2{
    color:#fff; 
    font-weight: bold;
    font-size: 16px;
    padding-top: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px #000;
}

.cursoAsb {
  display: grid;
  grid-template-columns: 1fr 360px;
  grid-gap: 20px;
  max-width: 1050px;
  padding: 10px;
  margin: 0 auto;
}

.sidebar > div {
  margin-bottom: 10px;
}

.texto-video p{
    margin: 10px;
    text-align: justify;
 
}

.video{

    margin: 0 auto;
    max-width: 100%;
}

.subtitulo{
    font-size: 1.3em;
    margin-top: 40px;
  	line-height: 30px;
	font-weight: bold;
	letter-spacing: .1em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 40px;
}

.subtitulo:after{
	content: "";
	display: block;
	width: 80px;
	height: 4px;
	background:rgb(87,133,55);
	margin: 8px auto;

}

.bg-servico{
    width: 100%;
    background:rgb(0,0,0,0.75);
  
}

.servicos {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 1050px;
  padding: 10px;
  margin: 0 auto;
  grid-gap: 20px;
   
}

.servicos p{
    text-align: center;
    color: white;
    background:rgb(87,133,55);
    font-weight: bold;
    text-transform: uppercase;
    margin: 0 auto

}

.bg-footer{
    width: 100%;
    background: rgb(87,133,55);
    max-height: 100%;
    
   
}

.footer-id{

    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
 
}

.footer-id h3 {
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	text-align: left;
}

.footer-id h3:after {
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 6px 5px 12px 0;
}

.historia{
    width: 380px;
    padding-right: 40px;
	text-align: justify;
    margin-bottom: 20px;
}

.historia p, ul{
    color: #000;
}
.contato1{
    width: 220px;;
    margin-right: 20px;
}

.contato2{
   width: 300px;
    margin-bottom: 20px;
}

.contato2 ul li {
	display: inline-block;
	margin-right: 10px;
}

.contato2 ul li a {
	border: 3px solid #000;
	display: block;
	padding: 10px;
}

.contato2 ul li a:hover {
	border-color: #fff;
}


.rodape-bg{
    
    background: #000;
   
    
}

.rodape p{
    color:#A7C681;
    text-align: center;
    padding: 10px;
  
}

    
@media (max-width: 700px) {
.menudo{
	margin-left:-100%;
	transition:all .4s;
   background:#fff;
}  
    
.menu-logo{
     height: 35px;   
}
    
.menu-logo img{
    width: 180px;
    margin-top: -80px;
    margin-left: 10px;
    position: absolute;
    
    
}
	
label[for='bt_menudo']{
	display:block;
    margin-left:290px;
         
	}
.menudo>ul{
	margin-left:0;
     z-index: 2;
	}
.menudo{
	margin-top:5px;
	}
.menudo ul li{
	width:100%;
	float:none;
	}
.menudo ul ul{
	position:static;
	overflow:hidden;
	max-height:0;
	transition:all .4s;
   
	}
.menudo ul li:hover ul{
	height:auto;
	max-height:100%;
	transition:all .4s;
  
	}
#bt_menudo:checked ~ .menudo{
	margin-left:0;
    
	}

.cursoAsb  {
    grid-template-columns: 1fr;
            }
    .item-p1, .item-p2, .item-p3, .item-p4{
        font-size: 10px;
        margin-top:-50px;
        margin-left: 10px;
    }
    
    .video-tam{
       width: 340px;
        height: 192px;
     
          
            }
    .footer-id{
        
       margin: 0px 50px;
            
    }
    
 .servicos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20px; 
}
.menu-nav a{
    font-size: 0.8em;
    margin-left: 20px;
    padding: 5px;
    }
    
    .menu-logo a{
        font-size: 1.5em;
        
    }
    
.transp-slide{
    width: 100%;
    height: 50px;
    background: rgb(87,133,55);
    opacity : 0.7 ;
    position: absolute;
    margin-top: -40px;    
    
    }
.text-slide{
    color:#fff; 
    font-weight: bold;
    font-size: 8px;
    text-shadow: 2px 2px 1px #000;
}

.text-slide2{
    color:#fff; 
    font-weight: bold;
    font-size: 8px;
    padding-top: 5px;
    text-transform: uppercase;
    text-shadow: 2px 2px 1px #000;
}

    
    .superinfo  p{
        font-size: 0.8em;
    }
    
    .superinfo .num-tel{
            font-size: 0.8em;
        }
    
    
    .conteiner-menu{
        background: rgb(87,133,55);
        height: 100px;
        z-index: 2 !important;
        margin-bottom: 0;
    }
}
     .whatsapp-button-generator a{
       
        color: #000;
        font-weight: bold;
        text-shadow:#fff -2px -2px;
        
    }
    
  .whatsapp-button-generator {
    position: fixed;
    border-radius: 8%;
    bottom: 70px;
    right: 20px;
    width: 75px;
    height: 85px;
    text-align: center;
    z-index: 110
  }

  .whatsapp-button-content {
    padding-top: 7px;
    padding-left: 5px;
    height:70px;

  }

  .whatsapp-button-web {
    display: none;
    
  }

  .whatsapp-button-mobile {
    display: inherit;
        
  }

  .bounce-whatsapp-button {
    animation: bounce-whatsapp-button 2s infinite;
    -webkit-animation: bounce-whatsapp-button 2s infinite;
    -moz-animation: bounce-whatsapp-button 2s infinite;
    -o-animation: bounce-whatsapp-button 2s infinite
  }

  @-webkit-keyframes bounce-whatsapp-button {

    0%,
    100%,
    20%,
    50%,
    80% {
      -webkit-transform: translateY(0)
    }

    40% {
      -webkit-transform: translateY(-30px)
    }

    60% {
      -webkit-transform: translateY(-15px)
    }
  }

  @-moz-keyframes bounce-whatsapp-button {

    0%,
    100%,
    20%,
    50%,
    80% {
      -moz-transform: translateY(0)
    }

    40% {
      -moz-transform: translateY(-30px)
    }

    60% {
      -moz-transform: translateY(-15px)
    }
  }

  @-o-keyframes bounce-whatsapp-button {

    0%,
    100%,
    20%,
    50%,
    80% {
      -o-transform: translateY(0)
    }

    40% {
      -o-transform: translateY(-30px)
    }

    60% {
      -o-transform: translateY(-15px)
    }
  }

  @keyframes bounce-whatsapp-button {

    0%,
    100%,
    20%,
    50%,
    80% {
      transform: translateY(0)
    }

    40% {
      transform: translateY(-30px)
    }

    60% {
      transform: translateY(-15px)
    }
  }

    
  /*@media (max-width: 600px) {
  .cursoAsb  {
    grid-template-columns: 1fr;
            }
    .item-p1, .item-p2, .item-p3, .item-p4{
        font-size: 10px;
        margin-top:-50px;
        margin-left: 10px;
    }
    
    .video-tam{
       width: 340px;
        height: 192px;
      
     
        
            }
    .footer-id{
        
       margin: 0px 50px;
            
    }
    
 .servicos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 20px; 
}
.menu-nav a{
    font-size: 0.8em;
    margin-left: 20px;
    padding: 5px;
    }
    
    .menu-logo a{
        font-size: 1.5em;
        
    }
    
    .superinfo  p{
        font-size: 0.8em;
    }
    
    .superinfo .num-tel{
            font-size: 0.8em;
        }*/
    
    
    
    